html {
    font-size: 62.5%; /*Reset para REMS - 62.5% = 10px de 16px | 1 rem = 10px  */
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif; /*Establecimos el tipo de fuente para todo el documento*/
    font-size: 1.6rem; /*Para establecer un tama単o estandar a todo el font-size del documento;*/
    line-height: 2; /*Interlineado*/
}


/*---------------------------------------------------Globales----------------------------------------------------------------*/
img {
    max-width: 100%; /* Para ajustar las imagenes al contenedor padre*/
}

/*------------------Utilidades----------------------*/
.contenedor { /*Usado en: {Header} | Section 'Mas sobre nosotros' | Main | {Contacto} | Blog | {Footer} */
    max-width: 120rem; /*Solo va a llegar hasta los 120rem*/
    margin: 0 auto; /*Centrar el elemento(display de block) en el contenedor */
    width: 95%;
}
.seccion { /*Usado en: Section 'Mas sobre nosotors' | Main | Blog | Footer */
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.fw-300 {
    font-weight: 300;
}
.centrar-texto {
    text-align: center;
}
.d-block {
    display: block!important;
}
.mt-0 {
    margin-top: 0;
}
.contenido-centrado {
    max-width: 800px;
}

/*---------Medidas estandar para titulos-----------*/
h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 3.4rem;
}
h3 {
    font-size: 3rem;
    
}
h4 {
    font-size: 2.6rem;
}

/*---------------Header global-----------------*/
.site-header {
    background-color: #333333;
    padding: 0 0 3rem 0;
}
.barra {
    text-align: center;
    padding-top: 3rem;
}
@media (min-width:769px) { /*---------------min-width:769px-----------------*/
    .barra {
        display: flex;
        justify-content: space-between; /*Para alinear los flex items horizontalmente*/
        align-items: center; /*Para alinear los flex items verticalmente*/
    }
}
/* Navegacion */
.navegacion a {
    color: #ffffff;
    text-decoration: none;/*Para quitar la linea que traen por defecto los enlaces*/
    font-size: 2.2rem;
    margin: 0;
    display: block;
}
@media (min-width:769px) { /*---------------min-width:769px-----------------*/
    .navegacion a {
        display: inline;
        margin-right: 2rem;
        font-size: 1.8rem;
    }
    .navegacion a:last-of-type { /*Para seleccionar el ultimo enlace del menu de navegacion*/
    margin-right: 0;
    }
}
.navegacion a:hover {
    color: #71b100;
}

/*---------------Footer global-----------------*/
.site-footer {
    background-color: #333333;
    margin: 0; /*Para quitar el margin-bottom por defecto que trae la clase .seccion */
    margin-top: 4rem;
}
.site-footer nav {
    display: none;
}
@media (min-width:769px) { /*---------------min-width:769px-----------------*/
    .site-footer nav {
        display: block;
    }
}
.contenedor-footer {
    text-align: center;
    padding: 2rem 0 2rem;
}
@media (min-width:769px) { /*---------------min-width:769px-----------------*/
    .contenedor-footer {
        padding: 3rem 0;
        display: flex;
        justify-content: space-between;
    }
}
.copyright {  
    margin: 0; /*Para quita el margen por defecto que traen los parrafos <p> */
    color: #ffffff;
}

/*---------------Botones-----------------*/
.boton {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
    border: none; /*Para quitar el borde por defecto que traen algunos elementos en donde usamos esta clase*/
    /*para que tomen el 100% del width del contenedor*/
    display: block;
    flex-basis: 100%;
}
@media (min-width:769px) { /*---------------min-width:769px-----------------*/
    /*para que el boton no ocupe todo el witdh*/
    .boton {
        display: inline-block;
        flex-basis: auto;
    }
}
.boton:hover {
    cursor: pointer; /*Para que se muestre una "manita" cuando se posiciona el curso encima del elemento*/
}
.boton-amarillo {
    background-color: #e08709;
}
.boton-verde {
    background-color: #71b100;
}


/*---------------------------------------------------Header Index------------------------------------------------------------*/
.site-header.inicio { /*Cundo tenga estas dos clases una etiqueta se aplicar esta regla CSS*/
    background-image: url(../img/header.jpg);
    background-position: center center; /*Centramos la imagen*/
    background-size: cover; /*Le agregamos un tama単o a la imagen, en este caso usamos 'cover' que lo que hace es redistribur la imagen para que no se vean espacios */
    height: 100vh; /*Viewport height*/
    min-height: 60rem; /*El contenido ya no se hara mas peque単o y quedara en 600px*/
}
.contenido-header {
    height: 100%; /*Tomamos el 100% de altura del contenedor padre osea ocupamos todo el height del <header> esto para aplicar los valores de la propiedad justify-content que se desbloquea gracias al display: flex; */
    display: flex;
    flex-direction: column; /*Para cambiar la direccion de flexbox*/
    justify-content: space-around;
    align-items: center;
}
.contenido-header h1 {
    color: #ffffff;
    padding-bottom: 2rem;
    max-width: 60rem; /* Para establecer un witdh maximo y que el contenido hiciera un salto de linea.*/
    line-height: 2; /* Interlineado de textos*/
    text-align: center;
}
@media (min-width:769px) { /*---------------min-width:769px-----------------*/
    .contenido-header {
        justify-content: space-between;
        align-items: unset;
    }
    .contenido-header h1 {
        text-align: left;
    }
}


/*----------------------------------------Section 'Mas sobre nosotros'-------------------------------------------------------*/
@media (min-width:769px) { /*---------------min-width:769px-----------------*/
    .iconos-nosotros{
        display: flex;
        justify-content: space-between;
    }   
}
.icono {
    text-align: center; /*Para alinear el contenido al centros*/
}
@media (min-width:769px) { /*---------------min-width:769px-----------------*/
    .icono {
        flex-basis: calc(33.3% - 1rem); /*Hace los calculos para que cada elemento tenga un withd del resultado de la operacion de (33.3% - 1)*/
    }
}
.icono h3 {
    text-transform: uppercase; /*Para modifica el texto, en este caso poner los titulos en mayusculas*/
}


/*---------------------------------------------------Main--------------------------------------------------------------------*/

/*---------------Anuncios-----------------*/
@media (min-width:769px) { /*---------------min-width:769px-----------------*/
    .contenedor-anuncios {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; /*Para agrupar el contenido, y automaticamente nos crea el salto de linea de debido al flex-basis que tenemos*/
    }    
}
.anuncio {
    border: 1px solid #b5b5b5;
    background: #f5f5f5;
    margin-bottom: 2rem;
}
@media (min-width:769px) { /*---------------min-width:769px-----------------*/
    .anuncio {
        /*flex: flex-grow | flex-shrink | flex-basis */
        flex: 0 0 calc(33.3% - 1rem);
        /* flex-grow: 0; */
        /* flex-shrink: 0; Ponemos el valor de 0 para que nuestro contenido no se encoga y asi aplicar las medidas del flex-basis */
        /* flex-basis: calc(33.3% - 1rem); */
    }
}
.contenido-anuncio {
    padding: 2rem;
}
.contenido-anuncio h3,
.contenido-anuncio p {
    margin: 0;
}
.precio {
    color: #71b100;
    font-weight: 700; /*El font-weight default de los <p> son 400 asi que los aumentamos para que se vean mas gruesos;*/
}
.iconos-caracteristicas {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1; /*para que el contenido se expanda en todo el contenedor*/
    max-width: 500px;
}
.iconos-caracteristicas li {
    display: flex;
}
.iconos-caracteristicas li img {
    margin-right: 1rem;
}
.ver-todas {
    display: flex;
    justify-content: center;
}
@media (min-width:769px) { /*---------------min-width:769px-----------------*/
    .ver-todas {
        justify-content: flex-end;
    }
}
.ver-todas a {
    display: inline-block;
    flex-basis: auto;
    margin: 0 0 2rem;
}


/*--------------------------------------------------Contacto------------------------------------------------------------------*/
.imagen-contacto {
    background-image: url(../img/encuentra.jpg);
    height: 400px;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
}
.contenido-contacto {
    flex-basis: 95%; /*Para que ocupe todo el espcio del contenedor...y automaticamente lo acomoda al principio del contenedor*/
    color: #ffffff;
    text-align: center;
}
@media (min-width:769px) { /*---------------min-width:769px-----------------*/
    .contenido-contacto {
        text-align: left;
    }
}
.contenido-contacto p {
    font-size: 1.8rem;
}
.contenido-contacto a {
    display: inline-block;
    flex-basis: auto;
    margin-bottom: 4rem;
}

/*---------------------------------------------Seccion inferior (Blog - Testimoniales)----------------------------------------*/

/*---------------Nuestro blog-----------------*/
@media (min-width:769px) { /*---------------min-width:769px-----------------*/
    .seccion-inferior {
        display: flex;
        justify-content: space-between;
    }    
}

.seccion-inferior .blog {
    flex-basis: 60%;
}
.seccion-inferior .testimoniales {
    flex-basis: calc(40% - 2rem);
}

.entrada-blog {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    line-height: 1.5;
}
@media (min-width:769px) { /*---------------min-width:769px-----------------*/
    .entrada-blog {
        line-height: 2;
    }
}
.entrada-blog:last-of-type {
    margin-bottom: 0;
}
.entrada-blog .imagen {
    flex-basis: 40%;
    display: flex;
}
.entrada-blog .imagen img {
    object-fit: cover;
}
.entrada-blog .texto-entrada {
    flex-basis: calc(60% - 2rem);
}
.texto-entrada a {
    color: #000000;
    text-decoration: none;
}
.texto-entrada h4 {
    margin: 0;
    line-height: 1.2;
}
.texto-entrada h4::after { /* Para mostrar la barrita verde que sale abajo de los titulos h4 que son las entradas de blog*/
    content:''; 
    display: block; /*Para poder aplicar withd y ehight*/
    width: 15rem; /*Para que se muestre la barrita*/
    height: .5rem; /*le agregamos algo de altura a la barrita*/
    background-color: #71b100;
    margin-top: 1rem;
}
.texto-entrada span { /*Para mostrar la fecha y el autor en color amarillo*/
    color: #e08709;
}

/*---------------Testimoniales-----------------*/
.testimoniales {
    line-height: 1.5;
}
@media (min-width:769px) { /*---------------min-width:769px-----------------*/
    .testimoniales {
        line-height: 2;
    }
}
.testimonial {
    background-color: #71b100;
    font-size: 1.6rem;
    padding: 2rem;
    color: #ffffff;
    border-radius: 2rem;
}
@media (min-width:769px) { /*---------------min-width:769px-----------------*/
    .testimonial {
        font-size: 2.4rem;
    }
}
.testimonial blockquote::before { /*Para poner la imagen de la comilla*/
    content: '';
    background-image: url(../img/comilla.svg);
    display: block;
    width: 4rem;
    height: 4rem;
    position: absolute; /*Para posicionar el elemento dentro del contenerdor padre, el contenedor padre debe de tener "position relative"*/
    left: -2rem;
    top: -2rem;
}
@media (min-width:769px) { /*---------------min-width:769px-----------------*/
    .testimonial blockquote::before { /*Para poner la imagen de la comilla*/
        top: 0;
    }
}
.testimonial blockquote {
    position: relative; /*Para que los hijos puedan usar "position absolute" */
    padding-left: 5rem;
    font-weight: 300;
}
.testimonial p {
    text-align: right;
}





/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! PAGINAS INTERNAS !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/*!!!!!!!!!!!!!!!!!!!!!!!!!!! nosotros.html !!!!!!!!!!!!!!!!!!!!!!!!!!*/
.nosotros-title {
    font-size: 3.3rem;
}
@media (min-width:481px) {
    .nosotros-title {
        font-size: 3.8rem;
    }
}
.contenido-nosotros {
    border-bottom: 3px solid #e1e1e1;
}
@media (min-width:769px) {
    .contenido-nosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /*2 columnas de 1fr cada una*/
        grid-column-gap: 2rem;
        border: none;
    }    
}
.contenido-nosotros .imagen {
    display: flex;
}
.contenido-nosotros .imagen img {
    object-fit: cover;
}
.texto-nosotros blockquote {
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding: 1rem 0 3rem 0;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!! anuncio.html !!!!!!!!!!!!!!!!!!!!!!!!!!*/
.resumen-propiedad {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!! contacto.html !!!!!!!!!!!!!!!!!!!!!!!!!!*/
.contacto p {
    font-size: 1.4rem;
    color: #4f4f4f;
    margin: 2rem 0 0 0;
}
legend {
    font-size: 2rem;
    color: #4f4f4f;
}
label {
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}
input:not([type="submit"]),  /* Para decirle que aplique la regla css a todos los input menos a los tipo submit*/
textarea,
select {
    padding: 1rem;
    display: block;
    width: 100%;
    background-color: #e1e1e1;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
}
input[type="radio"] {
    width: auto; /*Usamos el valor de "auto" para que el witdh se ajuste al contenido de la etiqueta, en este caso el input de tipo radio*/
    margin: 0;
}
select { /*Para quitar la aparencia que traen por default los <select> */
    -webkit-appearance: none; /*-webkit- es un prefijo para decir que se aplique en un navegador chrome, tambien existe para mozilla, safari, etc*/
    appearance: none; /* Esta propieda nunca va a ir sola, siempre ira acompa単ada de un prefijo de navegador*/
}
textarea {
    height: 20rem;
}
.forma-contacto {
    max-width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
